@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	@apply bg-white;
}

:target {
	scroll-margin-top: 3.125rem;
}

/* width */
::-webkit-scrollbar {
	width: 0.625rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-quaternary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #112;
}
